POSTGRES_DB=studydesk
POSTGRES_USER=studydesk_user
POSTGRES_PASSWORD=change_me

DB_HOST=localhost
DB_PORT=5432
DB_NAME=studydesk
DB_USERNAME=studydesk_user
DB_PASSWORD=change_me

FRONTEND_URL=http://localhost:5173
SERVER_PORT=8080
